    footer p{
      color: white;
      font-size: 16px;
      line-height: 1.5;
    }
    main p{
      color:beige;
      font-size: 16px;
      line-height: 1.5;
    }   
    blackquote{
      font-style: italic;
      color:aqua;
      border-left: 4px solid #ccc;
      margin-left: 0;
      padding-left: 10px;
      font-size: 30px;
    }
    header{
      margin: 0px;
      padding: 60px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: black;
    }
    main {
      margin: 0px;
      padding: 150px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: burlywood;
      background-image: url(images/背景.webp);
      background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    footer{
      margin: 0px;
      padding: 60px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color:slategrey
    }    
    header li {
      display: inline;
      margin-right: 15px;
    }
    header h1 {
      color:black;
      top : 0;

    }
    header blackquote {
      text-align: center;
    }
    header a {
      text-decoration: none;
      color: white;
    }
    header a:hover {
      text-decoration: underline;
    }
    footer a{
        color:white
    }
    header ul{
        position: absolute;
        right: 5vw;
        top: 30px;
        line-height: 50px;
    }
    h1{
        position: absolute;
        left: 5vw;
        top: 20px;
        line-height: 80px;
        background-image: url(images/标题.png);
        width: 400px;
        background-size: contain;
        background-repeat:no-repeat;
        text-indent:-99999px
    }
    .导语{
        height:85vh;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color:white;
        text-align: center;
    }
    footer a:hover{
        text-decoration: underline;
    }